*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    /* align-items: center; */
    justify-content:center;
    margin:0 auto;
    height: 100%;
    /* flex-wrap: wrap; */
    background: linear-gradient(to right, #D4145A, #FBB03B);
    color:white;
}

h1{
    font-size: 40px;
}

.food_area{
    display: flex;
    flex-direction: column;
    width:500px;
    /* flex-wrap: wrap; */
}

.food_types{
    display: flex;
    width:300px;
    justify-content: space-between;
    font-size: 25px;
    padding:10px;
    border: 1px solid black;
}

.added_area{
    width:500px;
}

.added_foods{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    width:300px;
    border:1px solid black;
}

.order_btn:hover{
    color: rgb(2, 12, 2);
    background-color: rgb(72, 114, 72);
    box-shadow: none;
}